.title{
	width: 100%;
	height: 140px;
	background-color: #333;
}



.blocka{
    width: 33.3%;
    float: left;
    height: 100px;
}
.blockb{
    width: 33.3%;
    float: left;
    height: 100px;
    color: whitesmoke;
    font-size: 90px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    text-align: center;
    vertical-align: middle; 
}
.blockc{
    width: 33.3%;
    float: left;
    height: 140px;
    text-align: right;
    vertical-align: bottom;
}
.blockc a{
    margin-bottom: 0px;
    margin-right: 40px;
    color: aliceblue;
    bottom: 0;
}
.ppic img{
    max-width: 100px;
    max-height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 60px;
}
.ppic{
    float: left;
    width: 140px;
}
.somes{
    margin-top: 20px;
    margin-bottom: 20px;
}
.somed{
    color: white;
    margin: 3px;
    width: 300px;
    float: left;
    height: 20px;
}